<nav class='flex justify-between self-stretch py-4 bg-blue-500 px-5 text-white'>    
      <%= link_to 'Back', new_user_session_path %>
      <%= link_to 'Registration', new_user_session_path %>
      <%= link_to 'Sign In', new_user_session_path %>
</nav>