<nav class='flex justify-between self-stretch py-4 bg-blue-500 px-5 text-white'>    
      <%= link_to 'Back', root_path %>
      <h1 class=' text-xl'>Registration</h1>
      <%= link_to 'Sign In', new_user_session_path %>
</nav>