<div id="<%= dom_id entity %>" class='flex gap-8 justify-between  rounded p-3 shadow-lg'>
  <p class="my-5 text-2xl"> 
    <%= entity.name %>
  </p>

  <p class="my-5 text-xl">
    $<%= entity.amount %>
  </p>
</div>
<hr class="my-6">

