<div class=' flex flex-col gap-8 items-center justify-center'>
  <h1 class=' text-5xl text-center'>Budget Managment App</h1>
  <div class='flex flex-col mt-8 justify-center self-stretch'>
    <button class='btn-primary self-stretch' type='button'>Log In</button>
    <button type='button'>Sign Up</button>
  </div>
  
</div>